body {
    font-family: Arial, sans-serif;
    background: #e8f5e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .password-generator {
    background: white;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 128, 0, 0.1);
    width: 340px;
    text-align: center;
  }

  #passwordishere {
    margin: 10px 0;
    padding: 12px;
    background: #f1f8e9;
    border-radius: 6px;
    font-weight: bold;
    min-height: 30px;
    color: #2e7d32;
    word-wrap: break-word;
  }

  .mode-buttons {
    margin: 15px 0;
    display: flex;
    justify-content: space-around;
  }

  .mode-buttons label {
    font-size: 14px;
    cursor: pointer;
    color: #388e3c;
  }
  #View{ margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    background-color: #157ded;
    color: rgb(211, 224, 218);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;}
  #generate_password, #save {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
  }

  #generate_password:hover,
  #save:hover {
    background-color: #388e3c;
  }
  #View:hover{
    background-color: #0e3de7;
  }
  #View_pass{ width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #a5d6a7;
    border-radius: 6px;
    outline-color: #66bb6a;

  }
  #save_it{
    margin: 6px;
    padding: 5;
    border-radius: 5px;


  }
  #save_it:hover{
    color: blue;
  }
  #WhereTo {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #a5d6a7;
    border-radius: 6px;
    outline-color: #66bb6a;
  }

